@import url('https://fonts.googleapis.com/css?family=Roboto');
.AuthImage{
    width: 100%;
    height: 100%;
}
.LoginHeading{
    color:dodgerblue;
    margin-top: 70px;
}
.RegisterHeading{
    color: #5fb709;
}
.AuthHeading{
    font-family: Roboto,sans-serif;
    font-size: 3rem;
    width: 100%;
    text-align: center;
    font-style: italic;
}
.InputWithIcon{
    padding-left:45px !important;
}
.AuthIcon{
    position: absolute;
    top: 2.5rem;
    left: 1.3rem;
}
.form-group{
    position: relative !important;
}